<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RWColourTagCSSFiles</key>
	<array>
		<string>colourtags.css</string>
	</array>
	<key>RWCopyFiles</key>
	<array>
		<string>css</string>
		<string>images</string>
		<string>styles.css</string>
		<string>colourtags.css</string>
		<string>javascript.js</string>
	</array>
	<key>RWStyleVariations</key>
	<dict>
		<key>RWStyleGroups</key>
		<array>
			<dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>DefaultColour</key>
						<string>#ffffff</string>
						<key>Name</key>
						<string>Body Background</string>
						<key>Tag</key>
						<string>%colour_body_background%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>#221e18</string>
						<key>Name</key>
						<string>Header and footer</string>
						<key>Tag</key>
						<string>%colour_header_footer_background%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>#ffffff</string>
						<key>Name</key>
						<string>Title and slogan</string>
						<key>Tag</key>
						<string>%colour_title_colour%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>#8fc520</string>
						<key>Name</key>
						<string>Headlines</string>
						<key>Tag</key>
						<string>%colour_headline_colour%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>#303030</string>
						<key>Name</key>
						<string>Text</string>
						<key>Tag</key>
						<string>%colour_text_colour%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>#0096ff</string>
						<key>Name</key>
						<string>Links</string>
						<key>Tag</key>
						<string>%colour_link_colour%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Colours</string>
			</dict>
			<dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/sidebar/left.css</string>
						</array>
						<key>Name</key>
						<string>Left</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/sidebar/right.css</string>
						</array>
						<key>Name</key>
						<string>Right</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/sidebar/hidden.css</string>
						</array>
						<key>Name</key>
						<string>Hidden</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Sidebar</string>
				<key>GroupSelectionLimit</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/logo/hide.css</string>
						</array>
						<key>Name</key>
						<string>Hide</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/logo/show.css</string>
						</array>
						<key>Name</key>
						<string>Show</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Logo</string>
				<key>GroupSelectionLimit</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/navigation/show.css</string>
						</array>
						<key>Name</key>
						<string>Show</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/navigation/hide.css</string>
						</array>
						<key>Name</key>
						<string>Hide</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Sub navigation</string>
				<key>GroupSelectionLimit</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/plugin_sidebar/show.css</string>
						</array>
						<key>Name</key>
						<string>Show</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/plugin_sidebar/hide.css</string>
						</array>
						<key>Name</key>
						<string>Hide</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Plugin sidebar</string>
				<key>GroupSelectionLimit</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>RWTemplateHTML</key>
	<string>index.html</string>
	<key>RWTextToolbar</key>
	<dict>
		<key>RWAlwaysDisplayFullNavigation</key>
		<false/>
		<key>RWBreadCrumb</key>
		<string>%items%</string>
		<key>RWBreadCrumbItem</key>
		<string>&lt;a href="%url%"&gt;%title%&lt;/a&gt;%separator%</string>
		<key>RWBreadCrumbSeparator</key>
		<string>&amp;nbsp;&gt;&amp;nbsp;</string>
		<key>RWSupportedLevels</key>
		<integer>4</integer>
		<key>RWToolbarItemCurrent</key>
		<string>&lt;li&gt;&lt;a href="%url%" rel="%rel%" class="current"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemCurrentAncestor</key>
		<string>&lt;li class="top"&gt;&lt;a class="currentAncestor" href="%url%" rel="%rel%"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;
			</string>
		<key>RWToolbarItemNormal</key>
		<string>&lt;li&gt;&lt;a href="%url%" rel="%rel%"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarList</key>
		<string>&lt;ul&gt;%items%&lt;/ul&gt;</string>
	</dict>
	<key>RWThemeAuthor</key>
	<string>Laddi</string>
	<key>RWThemeCapabilities</key>
	<dict>
		<key>RWSupportsContentOnlySubPages</key>
		<true/>
		<key>RWSupportsPathTo</key>
		<true/>
		<key>RWSupportsToolbarRelTag</key>
		<true/>
	</dict>
	<key>RWThemeImage</key>
	<string>preview.png</string>
	<key>RWThemeImageLarge</key>
	<string>preview_large.jpg</string>
	<key>RWThemeName</key>
	<string>eGov</string>
	<key>RWThemeShortName</key>
	<string>eGov</string>
	<key>RWVersion</key>
	<integer>1</integer>
	</dict>
</plist>
